.admin-img-width-and-height {
  width: 50px !important;
  height: 50px !important;
  object-fit: cover !important;
  border-radius: 50% !important;
}

.font-grey-color {
  color: #d8d9da;
}

.font-grey-color:hover {
  background-color: #ffc107;
  color: #313232 !important;
  font-weight: 700;
}

.dashboard-card:hover {
  background: #ffc107;
}

.white-variant-secondary {
  background: #dcdcdc !important;
}

.background-black-color-secondary {
  background: #6e6f6f !important;
}

.font-grey {
  color: #565657 !important;
}

.card-height {
  height: 120px !important;
}

.grey-second-variant {
  background: #6e6f6f !important;
}

.effect-black-hover:hover {
  background: #313232 !important;
  color: #f8f4ec !important;
}

/* Responsive for Admin Login Card */
@media (min-width: 990px) {
  #driver-login-card {
    max-width: 700px !important;
  }
}

/* Responsive for Driver Profile Card */
@media (min-width: 560px) {
  #driver-profile-card {
    width: 25rem !important;
  }
}
