.admin-img-width-and-height {
  width: 50px !important;
  height: 50px !important;
  object-fit: cover !important;
  border-radius: 50% !important;
}

.font-grey-color {
  color: #d8d9da;
}

.font-grey-color:hover {
  background-color: #ffc107;
  color: #313232 !important;
  font-weight: 700;
}

.dashboard-card:hover {
  background: #ffc107;
}

.white-variant-secondary {
  background: #dcdcdc !important;
}

.background-black-color-secondary {
  background: #6e6f6f !important;
}
